@import 'variables';
@import 'utilities';

body {
  background-color: $color-teal-base;
}

.foo {
  @include absolute(0, 0, auto, auto);
}

.Tour {
  display: flex;
  transform: translate(200px);
  opacity: .5;
}
